{%- assign formId = 'localization_form-popup' | append: location -%}
<div class="visually-hidden">
  {%- form 'localization', id: formId -%}
    {%- capture form_fields -%}
      <input type="hidden" name="locale_code" id="LocaleSelector-{{ location }}" value="{{ form.current_locale.iso_code }}"/>
      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
    {%- endcapture -%}
    {%- capture trigger -%}
      {%- if location == 'footer' -%}
        <button class="locale-switcher--trigger js-drawer-open-localization">
          <span class="locale-icon">
            <span class="currency-flag currency-flag--{{ localization.country.iso_code | downcase }}" data-flag="{{ localization.country.currency.iso_code }}" aria-hidden="true"></span>
          </span>
          <span>
            {{ localization.country.name }} &#47 {{ localization.country.currency.symbol }} {{ localization.country.currency.iso_code }}
          </span>
          <span>
            <svg class="icon icon__chevron icon__chevron--right" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.66656 4L5.72656 4.94L8.7799 8L5.72656 11.06L6.66656 12L10.6666 8L6.66656 4Z" fill="black"></path>
            </svg>
          </span>
        </button>
      {%- else -%}
        <button class="locale-switcher--trigger locale-switcher--header js-drawer-open-localization">
          <span class="locale-icon">
            <span class="currency-flag currency-flag--{{ localization.country.iso_code | downcase }}" data-flag="{{ localization.country.currency.iso_code }}" aria-hidden="true"></span>
          </span>
        </button>
      {%- endif -%}
    {%- endcapture -%}
    {%- capture currency_list -%}
      {%- if countries contains 'Europe' -%}
        <a class="choice-card choice-card--selected" href="#"
          {% if localization.country.iso_code == "NO" %} aria-current="true"{% endif %} data-value="NO">
          <span class="choice-card__icon">
            <span class="currency-flag currency-flag--european_union"></span>
          </span>
          <span class="choice-card__label">Europe</span>
        </a>
      {%- endif -%}
      {%- for country in form.available_countries -%}
        {%- if countries contains country.name -%}
          <a class="choice-card choice-card--selected"
            href="#"
            {% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
            <span class="choice-card__icon">
              <span class="currency-flag currency-flag--{{ country.iso_code | downcase }}"></span>
            </span>
            <span class="choice-card__label">
              {{ country.name }}
            </span>
          </a>
        {%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}
    {% if type == 'form' %}
      {{ form_fields }}
    {%- endif -%}
  {%- endform -%}
</div>
{%- if type == 'trigger' -%}
  {{ trigger }}
{%- endif -%}
{%- if type == 'currency' -%}
  {{ currency_list }}
{%- endif -%}
