{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  {% liquid
    assign size_option_name = block.settings.size_title | downcase
    assign size_chart_content = product.metafields.foxtheme.size_chart.value.content
    assign size_chart_modal_id = 'SizeChartModal-' | append: block.id

    if size_chart_content == blank and block.settings.size_chart_from_page != blank
      assign size_chart_content = pages[block.settings.size_chart_from_page].content
    endif

    assign selected_variant = product.selected_or_first_available_variant
    unless product.selected_variant
      if product.metafields.custom.default_variant != blank
        assign default_variant = product.metafields.custom.default_variant.value
        if default_variant.product.id == product.id
          assign selected_variant = default_variant
        endif
      endif
    endunless
  %}
  <script src="{{ 'variant-selects.js' | asset_url }}" defer="defer"></script>
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    data-update-url="{% if update_url == false %}false{% else %}true{% endif %}"
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign option_name_downcase = option.name | downcase
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        assign attach_size_chart = false
        if size_option_name contains option_name_downcase
          assign attach_size_chart = true
        endif

        if block.settings.picker_type == 'button' and settings.color_swatch_trigger != blank
          assign color_swatch_trigger = settings.color_swatch_trigger | downcase | split: ','
          assign has_color = color_swatch_trigger | where: option_name_downcase | first
          unless block.settings.swatch_type == 'text'
            if has_color != blank
              assign picker_type = 'color'
            elsif option_name_downcase contains 'colour'
              assign color_swatch_trigger = color_swatch_trigger | replace: 'color', 'colour'
              assign has_color = color_swatch_trigger | where: option_name_downcase | first
              if has_color != blank
                assign picker_type = 'color'
              endif
            endif
          endunless
        endif

        if swatch_count > 0
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            if block.settings.swatch_type == 'shopify_swatch'
              assign picker_type = 'swatch'
            elsif block.settings.swatch_type == 'variant_image' or block.settings.swatch_type == 'color_swatch'
              assign picker_type = 'color'
            else
              assign picker_type = 'button'
            endif
          endif
        endif

        assign wrap_class = 'product-form__input product-form__input--' | append: picker_type
        case picker_type
          when 'swatch', 'color', 'button'
            assign is_fieldset_tag = true
            assign wrap_class = wrap_class | append: ' js flex flex-wrap'
            assign button_style = block.settings.button_style | default: 'standard'

            if picker_type == 'button'
              assign wrap_class = wrap_class | append: ' gap-3'
              assign wrap_class = wrap_class | append: ' product-form__input--button-' | append: button_style
            else
              assign wrap_class = wrap_class | append: ' gap-4'
              assign wrap_class = wrap_class | append: ' product-form__input--button-' | append: button_style
            endif
          else
            assign is_fieldset_tag = false
        endcase

        assign tag_fieldset = 'fieldset'
        assign tag_legend = 'legend'
        unless is_fieldset_tag
          assign tag_fieldset = 'div'
          assign tag_legend = 'label'
        endunless

        assign selected_value = option.selected_value

        if option.position == 1
          if default_variant != nil or default_variant != blank
            assign selected_value = default_variant.options[0]
          endif
        endif
        if option.position == 2
          if default_variant != nil or default_variant != blank
            assign selected_value = default_variant.options[1]
          endif
        endif
        if option.position == 3
          if default_variant != nil or default_variant != blank
            assign selected_value = default_variant.options[2]
          endif
        endif

        if attach_size_chart
          assign market = market_place | strip | strip_html | strip_newlines
          
          assign downcase_value = selected_value | escape | downcase
          assign variant_display_size = ''

          if product.tags contains 'large-canvas-points' or product.tags contains 'small-med-canvas' or product.tags contains 'landscape'
            if downcase_value == 'small'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '12x16”'
              else
                assign variant_display_size = '34x45cm'
              endif
            elsif downcase_value == 'medium'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '20x28”'
              else
                assign variant_display_size = '55x75cm'
              endif
            elsif downcase_value == 'large'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '28x40”'
              else
                assign variant_display_size = '75x106cm'
              endif
            elsif downcase_value == 'extra large'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '36x50”'
              else
                assign variant_display_size = '95x131cm'
              endif
            else
              assign variant_display_size = value | escape
            endif

          elsif product.tags contains 'square-canvas-sizes'
            if downcase_value == 'medium'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '24x24”'
              else
                assign variant_display_size = '65x65cm'
              endif
            elsif downcase_value == 'large'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '32x32”'
              else
                assign variant_display_size = '85x85cm'
              endif
            elsif downcase_value == 'extra large'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '40x40”'
              else
                assign variant_display_size = '106x106cm'
              endif
            else
              assign variant_display_size = value | escape
            endif

          elsif product.tags contains '_tab_prints-framed-prints'
            if downcase_value == 'small'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '12x16”'
              else
                assign variant_display_size = '30x40cm'
              endif
            elsif downcase_value == 'medium'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '18x24”'
              else
                assign variant_display_size = '45x60cm'
              endif
            elsif downcase_value == 'large'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '24x32”'
              else
                assign variant_display_size = '60x80cm'
              endif
            else
              assign variant_display_size = value | escape
            endif

          elsif product.tags contains 'square-framed-print'
            if downcase_value == 'small'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '12x12”'
              else
                assign variant_display_size = '30x30cm'
              endif
            elsif downcase_value == 'medium'
              if market == 'usa' or market == 'au'
                assign variant_display_size = '20x20”'
              else
                assign variant_display_size = '50x50cm'
              endif
            else
              assign variant_display_size = value | escape
            endif

          else
            assign variant_display_size = value | escape
          endif
        endif
      -%}
      <{{ tag_fieldset }}
        class="{{ wrap_class }}"
        {% if picker_type == 'color' %}
          data-swatch-type="{{ block.settings.swatch_type }}"
        {% endif %}
        style="--swatch-size: {{ block.settings.button_size | default: '40px' }}px;"
      >
        <{{ tag_legend }}
          {% unless is_fieldset_tag %}
            for="Option-{{ section.id }}-{{ forloop.index0 }}"
          {% endunless %}
          class="form__label"
        >
          <div class="flex flex-wrap gap-2">
            <span class="font-body-bold">{{ option.name }}:</span>
            <span data-selected-swatch-value="{{ option.name }}" {% if option_name_downcase == 'size' %}data-size{% endif %}>
              {%- if attach_size_chart -%}
                {{- variant_display_size -}}
              {%- else -%}
                {{- selected_value -}}
              {%- endif -%}
              
            </span>
          </div>
          {%- if size_chart_content != blank and attach_size_chart -%}
            <button
              class="open-size-chart no-js-hidden btn--link tracking-normal"
              aria-controls="SizeChartDrawer"
              aria-haspopup="dialog"
            >
              {{ 'products.product.open_size_chart' | t }}
            </button>
          {%- endif -%}
        </{{ tag_legend }}>
        {%- case picker_type -%}
          {%- when 'swatch', 'color', 'button' -%}
            {% render 'product-variant-options',
              product: product,
              option: option,
              default_variant: selected_variant,
              block: block,
              picker_type: picker_type
            %}
          {%- else -%}
            <div class="select">
              {%- if picker_type == 'swatch_dropdown' -%}
                <span
                  data-selected-value
                  class="dropdown-swatch"
                >
                  {% comment %} {% render 'swatch', swatch: option.selected_value.swatch %} {% endcomment %}
                </span>
              {%- endif -%}
              <select
                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                class="form-control form-control--select"
                name="options[{{ option.name | escape }}]"
                form="{{ product_form_id }}"
              >
                {% render 'product-variant-options',
                  product: product,
                  option: option,
                  default_variant: selected_variant,
                  block: block,
                  picker_type: picker_type
                %}
              </select>
              {%- render 'icon-caret-down' -%}
            </div>
        {%- endcase -%}
      </{{ tag_fieldset }}>
    {%- endfor -%}
    <script type="application/json" data-selected-variant>
      {% comment %}
      {{ product.selected_or_first_available_variant | json }}
      {% endcomment %}
      {{ selected_variant | json }}
    </script>
  </variant-selects>
  {%- if size_chart_content != blank -%}
    <div id="SizeChart-{{ section.id }}">
      <basic-modal id="{{ size_chart_modal_id }}" class="drawer modal" style="--modal-width: 77rem;">
        <div class="fixed-overlay" aria-controls="{{ size_chart_modal_id }}"></div>
        <div class="drawer__inner">
          <button
            class="drawer__close-btn"
            aria-controls="{{ size_chart_modal_id }}"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {% render 'icon-close' %}
          </button>
          <div class="drawer__body v-scrollable h-full rte">
            {{ size_chart_content }}
          </div>
        </div>
      </basic-modal>
    </div>
  {%- endif -%}
{%- endunless -%}
