{%- assign per_row = section.settings.items_per_row -%}
{%- capture gridView -%}
  {%- case per_row -%}
      {%- when 1 -%}
        {%- assign item_width = '' -%}
      {%- when 2 -%}
        {%- assign item_width = 'medium-up--one-half' -%}
      {%- when 3 -%}
        {%- assign item_width = 'medium-up--one-third' -%}
      {%- when 4 -%}
        {%- assign item_width = 'medium-up--one-quarter' -%}
      {%- when 5 -%}
        {%- assign item_width = 'medium-up--one-fifth' -%}
      {%- else -%}
        {%- assign item_width = 'medium-up--one-sixth' -%}
  {%- endcase -%}
  {{- item_width -}}
{%- endcapture -%}
{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
{% style %}
  #FeaturedCarousel-{{ section.id }} {
    --row-count: 1.33334;
    --gutter-space: 25px;
    {% if section.settings.aspect_ratio == 'landscape' %}
      --aspect-ratio-multiplier: 0.75;
    {% elsif section.settings.aspect_ratio == 'portrait' %}
      --aspect-ratio-multiplier: 1.5;
    {% else %}
      --aspect-ratio-multiplier: 1;
    {% endif %}

    --content-height: 0;
    {%- if section.settings.carousel_type == 'product_list' -%}
      --content-height: 97.75px;
    {%- endif -%}

    --button-content-height: 35.04px;
    --button-position-bottom: 0;
    {%- if section.settings.button_position == 'bottom' and section.settings.button_text != blank -%}
      --button-position-bottom: 1;
    {%- endif -%}
    --button-height-in-px: 0;

    --image-height: calc(66.667% * var(--aspect-ratio-multiplier));
    --image-height-in-px: calc(var(--image-height) * 1px);

     --padding-top: calc(var(--image-height) - 27.6px);
    {%- if section.settings.carousel_type == 'product_list' -%}
      --button-height-in-px: 85.04px;
      --padding-top: calc(var(--image-height) + var(--content-height) + var(--button-height-in-px) + 27.6px);
    {%- endif -%}
  }

  @media only screen and (min-width: 769px) {
    #FeaturedCarousel-{{ section.id }} {
      --row-count: 2;
      --gutter-space: calc(var(--row-count) * 25px);
      --image-height: calc(((100% - var(--gutter-space)) / var(--row-count)) * var(--aspect-ratio-multiplier));

      --padding-top: calc(var(--image-height) + 30px);
      {%- if section.settings.carousel_type == 'product_list' -%}
        --button-height-in-px: 85.04px;
        --padding-top: calc(var(--image-height) + var(--content-height) + var(--button-height-in-px) + 60px);
      {%- endif -%}
    }
  }

  @media only screen and (min-width: 1251px) {
    #FeaturedCarousel-{{ section.id }} {
      --row-count: {{ section.settings.items_per_row }};
    }
  }

  @media only screen and (max-width: 469px) {
    #FeaturedCarousel-{{ section.id }} {
      {%- if section.settings.carousel_type == 'product_list' -%}
        --content-height: 117.25px;
      {%- endif -%}
    }
  }

  .carousel-container:not(.loaded) {
    display: none;
  }

  [data-source-type="product_list"] .flickity-prev-next-button {
    top: calc((100% - 97.25px)/2);
  }

  [data-section-type="featured-carousel"] .flickity-prev-next-button.flickity-next {
    right: 0;
    transform: translate(50%, -50%);
  }

  [data-section-type="featured-carousel"] .flickity-prev-next-button.flickity-previous {
    left: 0;
    transform: translate(-50%, -50%);
  }

  [data-section-type="featured-carousel"] .flickity-prev-next-button.flickity-next:hover {
    transform: translate(50%, -50%);
  }

  [data-section-type="featured-carousel"] .flickity-prev-next-button.flickity-previous:hover {
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 1024px) {
    [data-source-type="product_list"] .flickity-prev-next-button {
      top: calc((100% - 120.25px)/2);
    }
  }

  [data-section-type="featured-carousel"] {
    overflow: hidden;
  }

  [data-full-width="true"] .flickity-viewport {
    overflow: visible;
  }

  .featured-carousel--container {
    position: relative;
  }
  /* .featured-carousel--container[data-item-in-row="3"][data-aspect-ratio="portrait"] {
    padding-top: calc(((100% - 75px) / 3) * 1.5);
  } */
  #FeaturedCarousel-{{ section.id }} .featured-carousel--container {
    padding-top: var(--padding-top);
  }
  .featured-carousel--wrapper {
    position: absolute;
    inset: 0;
  }

  .featured-carousel {
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
  }

  .featured-carousel:has(.animated) {
    opacity: 1;
    transform: translateY(0);
  }
{% endstyle %}



<div
  id="FeaturedCarousel-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="featured-carousel"
  data-context="featured-carousel">
  {%- if section.settings.heading != blank or section.settings.subheading -%}
    <div class="page-width">
      <div class="section-header{% if section.settings.button_link %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
        {%- if section.settings.heading != blank -%}
          <h2 class="section-header__title">
            {{ section.settings.heading }}
          </h2>
        {%- endif -%}
        {%- if section.settings.heading != blank -%}
          <p class="rte">
            {{ section.settings.subheading }}
          </p>
        {%- endif -%}
        {%- if section.settings.button_position == 'top' -%}
          {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
            <a href="{{ section.settings.button_link }}" class="btn btn--secondary btn--small section-header__link">{{ section.settings.button_text }}</a>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
  <div class="page-width">
    <div class="featured-carousel--container" data-item-in-row="{{ section.settings.items_per_row }}" data-aspect-ratio="{{ section.settings.aspect_ratio }}">
    <div class="featured-carousel--wrapper">
    <div class="featured-carousel">
      <div id="FeaturedCarouselContainer--{{ section.id }}" class="carousel-container grid--uniform" data-full-width="{{ section.settings.full_width }}" data-item-in-row="{{ section.settings.items_per_row }}" data-aspect-ratio="{{ section.settings.aspect_ratio }}" data-source-type="{{ section.settings.carousel_type }}" data-flickity='{"prevNextButtons": true, "pageDots": false}'>
        {% if section.settings.carousel_type == 'product_list' %}
          {%- assign product_list_block = section.blocks | where: 'type', 'product_list' | first -%}
          {% if product_list_block %}
            {% assign collection = collections[product_list_block.settings.collection] %}
            {% if collection.products.size > 0 %}
              {% for product in collection.products limit: product_list_block.settings.products_to_show %}
                <div class="carousel-item {{ gridView }} product-item">
                  <a href="{{ product.url }}">
                    {%- render 'carousel-grid-item',
                      product: product,
                      collection: collection,
                      per_row: section.settings.items_per_row,
                      quick_shop_enable: settings.quick_shop_enable,
                      aspect_ratio: section.settings.aspect_ratio
                    -%}
                  </a>
                </div>
              {% endfor %}
            {% else %}
              <p>No products found in this collection</p>
            {% endif %}
          {% endif %}
        {% elsif section.settings.carousel_type == 'collection_list' %}
          {% for block in section.blocks %}
            {% if block.type == 'collection_list' %}
              {%- assign image = block.settings.background_image -%}
              <div class="carousel-item {{ gridView }}">
                <div class="carousel-content--wrapper item-aspect-ratio-{{ section.settings.aspect_ratio }}">
                  <{% if block.settings.button_link != blank %}a{% else %}div{% endif %} href="{{ block.settings.button_link }}" class="carousel-link">  
                    <div class="carousel-content">
                      <div class="image-wrap">
                        {%- capture image_classes -%}
                          image-fit promo-grid__bg-image promo-grid__bg-image--{{ block.id }}
                        {%- endcapture -%}
    
                        {%- render 'image-element',
                          img: image,
                          loading: 'lazy',
                          classes: image_classes,
                        -%}
                      </div>
                      <div class="content-wrap">
                        <h3 class="collection-title">{{ block.settings.title }}</h3>
                        {%- if block.settings.text != blank -%}
                          <div class="rte">
                            {{ block.settings.text }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
                          <span class="btn" aria-label="Collection link">
                            {{ block.settings.button_text }}
                          </span>
                        {%- endif -%}
                      </div>
                    </div>
                  </{%- if block.settings.button_link != blank -%}a{%- else -%}div{%- endif -%}>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      {%- if section.settings.button_position == 'bottom' -%}
        <div class="carousel-button-wrapper">
          {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
            <a href="{{ section.settings.button_link }}" class="btn btn--secondary btn--small section-header__link">{{ section.settings.button_text }}</a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
    </div>
    </div>
  </div>
</div>
{%- if section.settings.divider -%}</div>{%- endif -%}

<style>
.featured-carousel {
  text-align: center;
  margin: 2em 0;
}
.featured-carousel h2 {
  font-size: 2em;
}
.featured-carousel .carousel-container {
  width: 100%;
  margin: 0 auto;
}
.featured-carousel .carousel-item {
  margin: 0 10px;
}
.featured-carousel .carousel-item:first-child {
  /* padding-left: 0; */
}
.carousel-item .grid-product {
  margin-bottom: 0;
}
.featured-carousel .product-item img {
  width: 100%;
  object-fit: cover;
}
.featured-carousel .carousel-button-wrapper {
  text-align: center;
  margin-top: 50px;
}

  .featured-carousel .carousel-button-wrapper .btn {
    margin-top: 0;
  }

.item-aspect-ratio-natural {
  padding-top: 75%; /* Adjust based on your store's natural aspect ratio */
}

.item-aspect-ratio-square {
  padding-top: 100%; /* 1:1 aspect ratio */
}

.item-aspect-ratio-landscape {
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.item-aspect-ratio-portrait {
  padding-top: 133.33%; /* 3:4 aspect ratio */
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item .carousel-content .image-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.carousel-content {
  color: #fff; /* Text color */ /* Padding around the text */
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

  .carousel-content .content-wrap {
    padding: 30px;
    z-index: 1;
    text-align: left;
  }

  .carousel-content .content-wrap .rte {
    margin-bottom: 12px;
  }

  .carousel-content .content-wrap .rte p {
    margin-top: 0;
  }

  .carousel-content .collection-title {
    font-size: 1.325em;
    line-height: 1.1;
    margin-bottom: 12px;
  }

  .carousel-content .aos-animate[data-aos=image-fade-in] .promo-grid__bg-image {
    transition: transform 4s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .carousel-content:hover .promo-grid__bg-image {
    transform: scale(1.2)
  }

  .featured-carousel .flickity-prev-next-button {
    height: 45px;
    width: 45px;
    color: var(--colorBtnPrimaryText);
    background: var(--colorBtnPrimary);
  }

  .featured-carousel  .flickity-prev-next-button:hover {
    transform: translateY(-50%) scale(1);
  }

  @media only screen and (max-width: 768px) {
    .carousel-item {
      width: 66.6667%;
    }

    #FeaturedCarousel-{{ section.id }} .carousel-item.medium-up--one-third {
      clear: unset !important;
      min-width: unset !important;
      max-width: unset !important;
    }

    .featured-carousel .flickity-button {
      display: none;
    }

    .carousel-content .content-wrap {
      padding: 1.5em;
    }
  }

  .featured-carousel .ruk_rating_snippet {
    min-height: 25px;
    margin-bottom: 0;
  }

  .featured-carousel .grid-product__meta {
    padding-bottom: 0;
  }

  @media only screen and (min-width: 769px) {
    .featured-carousel .carousel-item {
      margin: 0 12.5px;
    }
    
    .medium-up--one-quarter {
      width: calc((100% - 75px) / 4)
    }

    #FeaturedCarousel-{{ section.id }} .carousel-item.medium-up--one-third {
      width: calc((100% - 50px) / 3);
    }

    .carousel-content .collection-title {
      font-size: 2.125em;
    }
  }

</style>

{% schema %}
{
  "name": "Featured Carousel",
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.promo-grid.settings.full_width.label",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured Carousel"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading Text",
      "default": "Add a description for your carousel"
    },
    {
      "type": "select",
      "id": "carousel_type",
      "label": "Source type",
      "options": [
        {
          "value": "product_list",
          "label": "Product List"
        },
        {
          "value": "collection_list",
          "label": "Collection List"
        }
      ],
      "default": "product_list"
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "Items per row in desktop",
      "max": 6,
      "min": 2,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect Ratio",
      "options": [
        {
          "value": "natural",
          "label": "t:settings_schema.product_tiles.settings.product_grid_image_size.options.natural.label"
        },
        {
          "value": "square",
          "label": "t:settings_schema.product_tiles.settings.product_grid_image_size.options.square.label"
        },
        {
          "value": "landscape",
          "label": "t:settings_schema.product_tiles.settings.product_grid_image_size.options.landscape.label"
        },
        {
          "value": "portrait",
          "label": "t:settings_schema.product_tiles.settings.product_grid_image_size.options.portrait.label"
        }
      ],
      "default": "natural"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text for Product List",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link for Product List",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_position",
      "label": "Button position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.featured-collection.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "product_list",
      "name": "Product List",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "label": "Number of Products to Show",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 4
        }
      ]
    },
    {
      "type": "collection_list",
      "name": "Collection List",
      "settings": [
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Collection Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Set the vibe by choosing artwork that reflects your style, tells a story and packs personality into your every day.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Carousel",
      "category": "Collection"
    }
  ]
}
{% endschema %}


