{%- assign object = section -%}
{%- liquid
   assign excluded_countries = object.settings.country_exclude

   assign country_label = object.settings.country_label
   if country_label == blank or country_label == ""
     assign country_label = "Select country"
   endif

   assign language_label = object.settings.language_label
   if language_label == blank or language_label == ""
     assign language_label = "Select language"
   endif

   assign button_label = object.settings.button_label
   if button_label == blank or button_label == ""
     assign button_label = "Confirm"
   endif
-%}
{%- style -%}
  .locale__drawer--current-country {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .locale-icon {
    display: flex;
  }
  .locale-select__wrapper {
    margin-bottom: 1.5rem;
  }
  .locale-select__input {
    width: 100%;
  }

  .locale-switcher--trigger {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .locale-switcher--header.locale-switcher--trigger {
    padding: 0;
    gap: 0;
  }

  .footer-locale-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .locale-switcher__label {
    font-size: 9.25926px;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .footer-locale-switcher p {
    margin-bottom: 0;
  }

  .footer__section .locale-switcher--trigger {
    padding-left: 0;
  }
{%- endstyle -%}
<div id="LocaleDrawer" class="drawer drawer--right" aria-hidden="true">
  {% form 'localization', id: 'LocaleDrawerForm', class: 'drawer__contents', data-location: 'locale-drawer' %}
    <div class="drawer__fixed-header">
      <div class="drawer__header appear-animation appear-delay-1">
        <div class="drawer__title">
          <div class="locale__drawer--current-country">
            <span class="locale-icon">
              <span class="currency-flag currency-flag--{{ localization.country.iso_code | downcase }}" data-flag="{{ localization.country.currency.iso_code }}" aria-hidden="true"></span>
            </span>
            <span>
              {{ localization.country.name }}
            </span>
          </div>
        </div>
        <div class="drawer__close">
          <button type="button" class="drawer__close-button js-drawer-close">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
              <title>icon-X</title>
              <path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__fixed-header">
      <div class="drawer__header appear-animation appear-delay-1">
        <div class="drawer__heading h2">
          {{ section.settings.heading }}
        </div>
        <div class="drawer__message">
          <p>{{ section.settings.message }}</p>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div class="drawer__scrollable">
        <div class="appear-animation appear-delay-2">
          <div id="locale__selector" class="locale-select__wrapper">
            <label class="">{{ country_label }}</label>
            <div class="">
              <select name="country_code" class="locale-select__input">
                {%- for country in form.available_countries -%}
                  {%- unless excluded_countries contains country.name -%}
                    <option value="{{ country.iso_code }}" {% if country.iso_code == localization.country.iso_code %}selected{% endif %} data-market="{{ country.market.handle }}">{{ country.name }}</option>
                  {%- endunless -%}
                {%- endfor -%}
              </select>
            </div>
          </div>
          <div id="language__selector" class="locale-select__wrapper">
            <label class="">{{ language_label }}</label>
            <div class="">
              <select name="language_code" class="locale-select__input">
                {%- for language in localization.available_languages -%}
                  {%- liquid
                     assign language_name = language.endonym_name

                     if language_name == 'Deutsch'
                       assign language_name = 'German'
                     endif
                  -%}
                  <option
                    value="{{ language.iso_code }}"
                    {% if language.iso_code == localization.language.iso_code %}selected{% endif %}>
                    {{ language_name }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer__footer appear-animation appear-delay-4">
        <button type="submit" class="btn btn--full">{{ button_label }}</button>
      </div>
      
    </div>
  {% endform %}
</div>
{% schema %}
  {
    "name": "Currency & Languages",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Select your location"
      },
      {
        "type": "text",
        "id": "message",
        "label": "Message"
      },
      {
        "type": "header",
        "content": "Label settings"
      },
      {
        "type": "text",
        "id": "country_label",
        "label": "Label (country selection)",
        "default": "Select country"
      },
      {
        "type": "text",
        "id": "language_label",
        "label": "Label (language selection)",
        "default": "Select language"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Label (submit button)",
        "default": "Confirm"
      },
      {
        "type": "header",
        "content": "Options control"
      },
      {
        "type": "text",
        "id": "country_exclude",
        "label": "Countries to hide",
        "info": "Countries added here will not be displayed in the country selection list"
      }
    ]
  }
{% endschema %}